<header>
  <nav id="navbar" class="navbar navbar-dark bg-primary">
    <a href="/" class="btn btn-secondary" id="navbar-text">Home</a>
    <a href="/favourite" class="btn btn-secondary" id="navbar-text">Favourite</a>
    @if (logged) {
      <button class="navbar navbar-light justify-content-between btn btn-secondary" id="navbar-text" (click)="logout()">Logout</button> 
    }
    @else {
      <a href="/signup" class="navbar navbar-light justify-content-between btn btn-secondary" id="navbar-text">Sign up</a>
      <a href="/login" class="navbar navbar-light justify-content-between btn btn-secondary" id="navbar-text">Login</a> 
    }
  </nav>
</header>
<router-outlet />> 