<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>
                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Email: </label><br>
                                    <input type="text" formControlName="email" placeholder="Email" id="form3Example1cg" class="form-control form-control-lg">
                                    @if (loginForm.controls.email.invalid && loginForm.controls.email.touched || (loginForm.controls.email.dirty)) {
                                        @if (loginForm.controls.email.errors?.["required"]) {
                                            <small>*Email is required.</small>
                                        }
                                        @if (loginForm.controls.email.errors?.["email"]) {
                                            <small>*Enter a valid email.</small>
                                        }
                                    }
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Password: </label><br>
                                    <input type="password" formControlName="password" placeholder="*********" id="form3Example1cg" class="form-control form-control-lg">
                                    @if (loginForm.controls.password.invalid && loginForm.controls.password.touched || (loginForm.controls.password.dirty)) {
                                        @if (loginForm.controls.password.errors?.["required"]) {
                                            <small>*Password is required field</small>
                                        }
                                    }
                                </div>
                                @if (invalidCretedtials) {
                                    <div style="color: red;">*Invalid email or password</div>
                                }

                                <div class="d-flex justify-content-center">
                                    <button type="sumbit" class="btn btn-dark btn-block btn-lg">Login</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don`t have an account? <a href="/signup">Register here</a></p> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

