body{
    background-image: url(/pexels-hammyx-941459.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}

#centerTexth {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#tuggle-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

#card{
    max-width: 500px;
}

#favIcon {
    padding-bottom: 20px; 
    padding-left: 15px;
}