<section>
    <div>
        <div id="search-block">
            <form [formGroup]="cityForm" (ngSubmit)="searchCity(cityForm.value.city!)">
                <div>
                    <input type="search" class="form-control" formControlName="city" type="text" placeholder="city"/>
                </div>
            </form>
            <button type="submit" class="btn btn-primary"  data-mdb-ripple-init>Search City</button>
        </div>
        
    </div>

    @if (cities.length > 0) {
        <div id="tuggle-button">
            <button class="btn btn-primary btn-lg" (click)="toggleCelsiusToFahrenheit( temperatureUnit )">
                {{ temperatureUnit == "F" ? 'Change to °C' : 'Change to °F'}} 
            </button>
        </div>
        @for (curCity of cities; track curCity.Key) {
        <div class="row d-flex justify-content-center py-4">
            <div class="col-md-8 col-lg-6 col-xl-5" id="card" >
                
                <div class="card text-body" style=" border-radius: 35px; background:rgba(255, 237, 237, 0.6); " >
                    <div (click)="selectCity(curCity)" style="cursor: pointer;">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <h3 class="flex-grow-1" style="font-weight: bold;">{{ curCity.LocalizedName }}</h3>
                                <h4 style="font-weight: bold;">{{ curCity.Country.ID }}</h4>
                            </div>
                    
                @if (currentWeather[curCity.Key]) {
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                        <h6 class="display-4 mb-0 font-weight-bold" style="font-weight: bold;"> {{ (currentWeather[curCity.Key].Temperature[temperatureUnit === 'C' ? 'Metric' : 'Imperial'].Value).toFixed(0) }}°{{ temperatureUnit }} </h6>
                        <span style="color: #000000; font-weight: bold;">{{ currentWeather[curCity.Key].WeatherText }}</span>
                    </div>
                }

                @if (forecast["DailyForecasts"] && forecast.Key === curCity.Key ) {
                    <div>
                        <h3 id="centerTexth">5-Day Forecast</h3>
                        @for (day of forecast.DailyForecasts; track day.Date) {
                            <h3 id="centerTexth">{{ getDayOfWeek(day.Date) }}:
                                @if (temperatureUnit === "F") {
                                {{ day.Temperature.Minimum.Value.toFixed(0) }}°{{ temperatureUnit }} - {{ day.Temperature.Maximum.Value.toFixed(0) }}°{{ temperatureUnit }} 
                                }
                                @else if ( temperatureUnit === "C") {
                                    {{ ((day.Temperature.Minimum.Value - 32)*5/9).toFixed(0) }}°{{ temperatureUnit }} - {{ ((day.Temperature.Maximum.Value - 32)*5/9).toFixed(0) }}°{{ temperatureUnit }}
                                }
                            </h3>
                            <h5 id="centerTexth" style="font-weight: bold; padding-bottom: 10px;">{{ day.Day.IconPhrase }}</h5>
                        }
                    </div>
                }
                @else {
                    <h3 id="centerTexth">Show Forecast</h3>
                }

                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1" style="font-size: 1rem;">
                            <button (click)="toggleFavorite(curCity)" style="background: none; border: none; outline: none; box-shadow: none;">
                                @if (FavoriteHandler.isFavorite(curCity.Key)) {
                                    <img id="favIcon" src="icons8-star-96.png" alt="remove-to-favourite-icon"> 
                                }
                                @else {
                                    <img id="favIcon" src="icons8-star-962.png" alt="add-to-favourite-icon">
                                }
                            </button>
                        </div>
                        @if (currentWeather[curCity.Key]) {
                            <div>
                                
                                    <img [src]="currentWeather[curCity.Key].WeatherIcon + '.png'" width="150px" style="margin: -20px;">
                                     
                            </div>
                        }
                    </div>
                </div>
                </div>
            </div>

        }
    }
    @else {
        <h1 id="centerTexth"  style="font-weight: bold; padding: 15px;">No Cities Found</h1>
    } 
</section>

